# IDE und Editor spezifische Dateien
.idea/
.vscode/
*.swp
*.swo
nbproject/

# Betriebssystem-Dateien (OS Junk)
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Protokolle und Logs
*.log
*.sqlite
*.sql

# Lokale Konfigurationsdateien (WICHTIG für Datenschutz und Sicherheit)
config.php
pdo.php